[submodule "api/thaumcraft/api"]
  path = api/thaumcraft/api
  url = https://github.com/Azanor/thaumcraft-api.git

[submodule "api/ForestryAPI"]
  path = api/thaumcraft/api
  url = https://github.com/ForestryMC/ForestryAPI.git

[submodule "sub/Growthcraft"]
  path = sub/Growthcraft
  url = https://github.com/Alatyami/Growthcraft-1.7.git
